{% block navmenu %}

<div class="menu">
	<ul>
		{% block header_link_left %}		
			<li class="info brand"><span>Sample Site</span> </li>
			
		{% endblock %}
	</ul>
</div>

<div class="menu right">
	<ul>
		{% block header_menu %}				   		

		{% endblock %}
	</ul>
</div>
{% endblock %}

