<!DOCTYPE html>
<html class="width-v1">
<head>
<title>{% block title %} {{environment.header.title}} {% endblock %}</title>

<meta http-equiv="Content-Type" content="text/html; charset=utf-8">

<script type="text/javascript" src="/js/createjs-2013.12.12.min.js"></script>

<script type="text/javascript" src="/js/bundle.js"></script>
<link href="/styles/style.css" media="all" rel="stylesheet"
	type="text/css" />

</style>

<script src="/codemirror/codemirror.js"></script>
<link rel="stylesheet" href="/codemirror/codemirror.css">
<script src="/codemirror/javascript.js"></script>
<script> 
var collapse = 1;

function coex(){
    if(collapse){
        document.getElementById("codepanel").style.bottom = "0px"
        collapse = 0;
    }else{
        document.getElementById("codepanel").style.bottom = "-240px"
        collapse = 1;

    }
}

function cast() {
    editor.save();
    var commandcast = document.getElementById('txtcodepanel');

    var lines = commandcast.value.split('\n');
    (function(){
    commandcast.value=" ";
    editor.setValue("");
    var i = 0;
    while(i < lines.length){
      eval(lines[i]);
        i++;
    }
    }).apply(game.gameobjects.get('player'),[]);

    game.gameobjects.get('player').triggerAction();
}


</script>
<style type="text/css">
.cast-button {
	outline: 0;
	margin-top: 10px;
	margin-left: 30px;
	padding-top: 20px;
	padding-right: 20px;
	padding-bottom: 20px;
	padding-left: 20px;
	text-decoration: none !important;
	cursor: pointer;
	position: relative;
	text-align: center;
	background-color: green;
	color: white;
	display: inline-block;
	font-family: tahoma;
}

.title-button {
	outline: 0;
	margin: 0 0 0 0;
	padding-top: 10px;
	padding-right: 10px;
	padding-bottom: 10px;
	padding-left: 35px;
	width: 100%;
	text-decoration: none !important;
	cursor: pointer;
	position: relative;
	text-align: center;
	background-color: rgba(3, 102, 6, 0.5);
	color: white;
	display: inline-block;
	font-family: tahoma;
	text-align: left;
}
</style>

</head>
<body>
	{% block body %}
	<div class="body box home">
		<div class="content">
			<div class="header">
				<div class="content">
					<h1>
						Title/h1>
						<div class="subtitle">Description</div>
				
				</div>
				<div class="bottom_bar">/div></div>
			</div>
		</div>
		{% endblock %}

		<script type="text/javascript">
            var editor = CodeMirror.fromTextArea(txtcodepanel, {
                mode: "text/javascript",
                lineNumbers: true,
                autofocus: true
        });
    </script>

</body>
</html>
