<!DOCTYPE html>
<html class="width-v1">
    <head>
        <title>{% block title %} {{environment.header.title}} {% endblock %}</title>

        <meta http-equiv="Content-Type" content="text/html; charset=utf-8">

        <script type="text/javascript" src="/js/createjs-2013.12.12.min.js"></script>

        <script type="text/javascript" src="/js/bundle.js"></script>
        <link href="/styles/style.css" media="all" rel="stylesheet"
              type="text/css" />

    </style>
    <script src="/js/popup.js"></script>
    <script src="/codemirror/codemirror.js"></script>
    <script src="/codemirror/placeholder.js"></script>
    <link rel="stylesheet" href="/codemirror/codemirror.css">
    <script src="/codemirror/javascript.js"></script>
    <script>
        var ctr = 0;
        function showBox(title, msg) {

            Popup.showModal('modal');
            Popup.get
            title = '<div class="boxtitle">' + title + '</div>';
            msg = '<div class="boxmsg">' + msg + '</div>';
            document.getElementById('modal').innerHTML = title + "<br>" + msg + '<input class="popupokbtn" type="button" value="OK" onClick="Popup.hide(\'modal\');">';
            ctr++;
        }

        function coex() {
            if (collapse) {
                document.getElementById("codepanel").style.bottom = "0px";
                collapse = 0;
            } else {
                document.getElementById("codepanel").style.bottom = "-240px";
                collapse = 1;

            }
        }

        function cast() {
            editor.save();
            var commandcast = document.getElementById('txtcodepanel');

            var lines = commandcast.value.split('\n');
            (function() {
                commandcast.value = " ";
                editor.setValue("");
                var i = 0;
                while (i < lines.length) {
                    eval(lines[i]);
                    i++;
                }
            }).apply(game.gameobjects.get('player'), []);

            game.gameobjects.get('player').triggerAction();
        }

        function resizePan() {
            var codePanHeight = (window.innerHeight - ($(".canvas-board").height()) - 25);
            var codePanWidth = ($(".canvas-board").width()+ 5);
            $(".CodeMirror").css("height", codePanHeight - 65 );
            $(".codepanel").css("width", codePanWidth);

            $(".game-ui-h").css("height", ($(".canvas-board").height()+5));
            $(".cast-button").css("width", window.innerWidth * 0.7 - 40);

            $(".gameInfoPanel").css("height", codePanHeight - 20);
            $(".gameInfoPanel").css("top", $(".canvas-board").height()+25);
            $(".gameInfoPanel").css("width", window.innerWidth - ($(".canvas-board").width()) - 45);
            $(".game-ui-h").css("width", window.innerWidth - ($(".canvas-board").width()) - 25);


            $(".top_index").css("width",($(".canvas-board").width()-70)/12)
            $(".left_index").css("height",($(".canvas-board").height()-35)/6)
            

            $(".codepanel").css("top",$(".canvas-board").height()+25);
            $(".game-ui-h").css("left", ($(".canvas-board").width()+25));
            $(".gameInfoPanel").css("left", ($(".canvas-board").width()+25));
            
            $("left_index").css("line-height", ($(".canvas-board").height()-35)/6)
            $(".deadline").css("left",($(".canvas-board").width()-70)/12+ 10)
        }
        
        (function($) {

    var resizeTimer; // Set resizeTimer to empty so it resets on page load

    function resizeFunction() {
        // Stuff that should happen on resize
    };

    // On resize, run the function and reset the timeout
    // 250 is the delay in milliseconds. Change as you see fit.
    $(window).resize(function() {
        clearTimeout(resizeTimer);
        resizePan();
        resizeTimer = setTimeout(resizeFunction, 500);
    });

})(jQuery);

    </script>

</head>
<body>
    {% block body %}
        <div class="body box home">
            <div class="content">
                <div class="header">
                    <div class="content">
                        <h1>Title/h1>
                            <div class="subtitle">Description</div>

                    </div>
                    <div class="bottom_bar"></div></div>
            </div>
        </div>
    {% endblock %}

    <div id="modal" >


    </div>


    <script type="text/javascript">
        var editor = CodeMirror.fromTextArea(txtcodepanel, {
            mode: "text/javascript",
            lineNumbers: true,
            autofocus: true
        });
        window.onload = resizePan;



    </script>

</body>
</html>
