{% extends "game/layout.twig" %} {% block title %} Game Main {% endblock
%} {% block body %}
<div id="loader" class="loader"></div>
<div class="game-ui">
<div class="game-ui-v">
<div id="game-canvas-container" class="canvas-container">
	<canvas id="game-canvas" class="canvas-board"></canvas>
</div>
<div id="codepanel" style=" z-index:10000; bottom:0px;width:750px;height:290px;background-color:rgba(255,255,255,0.5)">
    <a href="javascript:coex()" class="title-button">Type javascript code to control your avata!</a>
    
    <div style="background-color:rgba(0,255,0,0.5);width:750px;color:white;padding: padding-top: 0px;padding-right:0px;padding-bottom:0px;padding-left:0px;font-family:tahoma">
    <table>
    <tr>
        <td style="width:100;color:white">Wave: 01</td>
        <td style="width:100;color:white">HP: 100</td>
        <td style="width:100;color:white">MP: 100</td>
    </tr>
    </table>
    </div>
    <textarea rows="4" cols="50" id="txtcodepanel"></textarea>
    <a id="game-cast-trigger" class="cast-button" href="#">
        Cast spells!!!
    </a>
</div>
</div>
<div class="game-ui-h">
this.move(x,y);<br>
this.cast(new Fireball());<br>
this.triggerAction();<br>

</div>
</div>

{% endblock %}
