{% extends "game/layout.twig" %} {% block title %} Game Main {% endblock
%} {% block body %}
<div id="loader" class="loader"></div>
<div id="game-canvas-container" class="canvas-container">
	<canvas id="game-canvas"></canvas>
</div>
<div id="codepanel" style=" z-index:10000; bottom:0px; position:absolute;width:100%;height:300px;background-color:rgba(255,255,255,0.5)">
    <a href="#" class="title-button">Type javascript code to control your avata!</a>
    
    <div style="background-color:rgba(0,255,0,0.5);width:100%;color:white;padding: padding-top: 0px;padding-right:5px;padding-bottom:0px;padding-left:35px;font-family:tahoma">
    <table>
    <tr>
        <td style="width:100;color:white">Wave: 01</td>
        <td style="width:100;color:white">HP: 100</td>
        <td style="width:100;color:white">MP: 100</td>
    </tr>
    </table>
    </div>
    <textarea rows="4" cols="50" id="txtcodepanel"></textarea>
    <a class="cast-button" href="javascript:cast()">
        Cast spells!!!
    </a>
</div>
{% endblock %}
