{% extends "game/layout.twig" %} {% block title %} Game Main {% endblock
%} {% block body %}
<div id="loader" class="loader"></div>
<div id="game-canvas-container" class="canvas-container">
	<canvas id="game-canvas"></canvas>
</div>
{% endblock %}
