{% extends "game/layout.twig" %} {% block title %} Game Main {% endblock
    %} {% block body %}
    <div id="loader" class="loader"></div>
    <div class="game-ui">
        <div class="game-ui-v">
            <div id="game-canvas-container" class="canvas-container">
                <canvas id="game-canvas" class="canvas-board"></canvas>
            </div>
            <div id="codepanel" class="codepanel">



                <div style="60%">
                    <textarea  cols="1" id="txtcodepanel" placeholder="Command me to kill all monsters!"></textarea>
                </div>
                <a id="game-cast-trigger" class="cast-button" href="#">
                    Cast spells!!!
                </a>
            </div>
        </div>
        <div class="game-ui-h">
            <div class="instructionPanel" id="instructionPanel">
             <a id="stgSelection" class="stg_button" href="#"
            onclick="stgSec();">Stage Selection</a>
                <div style="height:50px"></div>
                <div class="instPanTitle">Basic commands</div>
                <div class="basiccmd">
                    Movements<br>
                    this.move(x,y);<br><br>
                    Magic<br>
                    this.cast(new spells.Fireball());<br>
                    this.cast(new spells.Pyroblast());<br>
                    this.cast(new spells.Thunderbolt(x,y)); *Relative position, +/- 2<br>
                    this.cast(new spells.Teleport(x,y)); *Absolute position<br>
                    <br>
                    For loop and while loop is allowed.
                    <br>
                    <br>
                    Challenge yourself:

                    <a href="javascript:game.setLevel('test');">Test Level</a>

                </div>

                <a href="#" onclick="showBox('You have killed all monsters!', 'You Win!!');
                        return false;">MsgBox Demo: showBox(title,msg)</a>

            </div>
            <div class="gameInfoPanel" id="gameInfoPanel">
                <div class="instPanTitle">Game Status</div>
                <div class="basiccmd">
                    Stage <label id="stage">1</label> Round <label id="round">1</label><br>
                    HP <progress id="hp" style="position:absolute;left:35px;top:57px" max="100" min="0" value="10">
                            <div pseudo="-webkit-progress-inner-element">
                                <div pseudo="-webkit-progress-bar" style="background-color: white">
                                    <div pseudo="-webkit-progress-value" style="background-color: #7e7"></div>
                                </div>
                            </div>
                        </progress><br>
                        MP <progress id="mp" style="position:absolute;left:35px;top:73px" max="100" min="0" value="60">
                            <div pseudo="-webkit-progress-inner-element">
                                <div pseudo="-webkit-progress-bar" style="background-color: white">
                                    <div pseudo="-webkit-progress-value" style="background-color: #69d2e7"></div>
                                </div>
                            </div>
                            </progress><br>

                </div>

                       </div>
        </div>
    
        <div class="deadline" ></div>

        <div style="position:fixed;top:0px;left:25px;display:inline-block; width:100%;font-size: 0px">
        <div class="top_index" >0</div>
        <div class="top_index" >1</div>
        <div class="top_index" >2</div>
        <div class="top_index" >3</div>
        <div class="top_index" >4</div>
        <div class="top_index" >5</div>
        <div class="top_index" >6</div>
        <div class="top_index" >7</div>
        <div class="top_index" >8</div>
        <div class="top_index" >9</div>
        <div class="top_index" >10</div>
        <div class="top_index" >11</div>
        </div>

    <div style="position:fixed;top:25px;left:0px;display:block;height:100%">
        <div class="left_index" >0</div>
        <div class="left_index" >1</div>
        <div class="left_index" >2</div>
        <div class="left_index" >3</div>
        <div class="left_index" >4</div>
        <div class="left_index" >5</div>

        </div>



    {% endblock %}
